<div class = "container">
      <div class = "row">
        <div class = "mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
          <div id="box">
           <div id="images">
            <div class="image1"></div>
            <div class="image2"></div>
            <div class="image3"></div>
            <div class="image4"></div>
            <div class="image5"></div>
           </div>
         </div>
         <div class="btn-wrapper col-10 mx-auto">
          <div class="row">
           <%= link_to "Log in", new_user_session_path, class:"btn btn-info btn-sm btn-block mb-2" %>
           <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-success btn-sm btn-block" %>
         </div>
        </div>
        </div>
      </div>
    </div>