<footer>
  <nav class="navbar navbar-expand-lg navbar-dark bg-light text-dark">
    <div class = "container mt-5">
     <div class='mx-auto'>
       <div class="row no-gutters">
         <h4>ながのCAKE</h4>
        <div class="col-md-8">

            <ul class="p-0 list-unstyled">
              <li>
                <a href="" title="Top" class="text-dark-50">トップページ</a>
              </li>
              <li>
                <a href="" title="About" class="text-dark-50">About</a>
              </li>
            </ul>
          </div>
       </div>

      </div>
    </div>
  </nav>
</footer>