<header>
  <nav class="navbar navbar-expand-lg navbar-left bg-light">
    <%# if admin_signed_in? %>
      <%# 管理者がログインした時　%>
      </%= link_to "NaganoCAKE", admin_top_path, class: "fas fa-coffee" %><!-- ←先頭の/を消す -->
    <%# else %>
    　 <%# 顧客顧客がログインした時　%>
      </%= link_to "NaganoCAKE", root_path, class: "fas fa-coffee" %><!-- ←先頭の/を消す -->
    <%# end %>
  </nav>
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <%# if member_signed_in? %>
    <!--カスタマーがログインしている時 -->
    <li class="header-name">
     ようこそ、</%= last_name(current_member) %>さん！<!-- ←先頭の/を消す -->
    </li>
    <li>
      </%= link_to "マイページ", member_path(current_member), class: "header_btn  btn-outline-dark" %><!-- ←先頭の/を消す -->
    </li>
    <li>
      </%= link_to "商品一覧", products_path, class: "header_btn  btn-outline-dark" %><!-- ←先頭の/を消す -->
    </li>
    <li>
      </%= link_to "カート", cart_products_path, class: "header_btn  btn-outline-dark" %><!-- ←先頭の/を消す -->
    </li>
    <li>
      </%= link_to "ログアウト", destroy_member_session_path, method: :delete, class: "header_btn  btn-outline-dark" %><!-- ←先頭の/を消す -->
    </li>
    <%# elsif admin_signed_in? %>
    <!-- 管理者がログインしている時 -->
    <li>
      </%= link_to "商品一覧", admin_products_path, class: "header_btn btn-outline-dark" %>
    </li>
    <li>
      </%= link_to "会員一覧", admin_members_path, class: "header_btn btn-outline-dark"  %>
    </li>
    <li>
      </%= link_to "注文履歴一覧", admin_orders_path, class: "header_btn btn-outline-dark" %>
    </li>
    <li>
      </%= link_to "ジャンル一覧", admin_genres_path, class: "header_btn btn-outline-dark" %>
    </li>
    <li>
      </%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "header_btn btn-outline-dark" %>
    </li>
    <%# else %>
    <!-- ログインしていない時 -->
      <li>
        </%= link_to "About", "/about", class: "header_btn btn-outline-dark" %><!-- ←先頭の/を消す -->
      </li>
      <li>
        </%= link_to "商品一覧", "/products", class: "header_btn btn-outline-dark" %><!-- ←先頭の/を消す -->
      </li>
      <li>
        </%= link_to "新規登録", new_member_registration_path, class: "header_btn btn-outline-dark"  %><!-- ←先頭の/を消す -->
      </li>
      <li>
        </%= link_to "ログイン", new_member_session_path, class: "header_btn btn-outline-dark"  %><!-- ←先頭の/を消す -->
      </li>
    <%# end %>
    </ul>
  </nav>
</header>